body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(202, 202, 202);
    background: linear-gradient(90deg, rgba(202, 202, 202, 1) 0%, rgba(255, 255, 255, 1) 35%);
}

.signup {
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .3), -10px -15px 20px rgba(0, 0, 0, .3);
    padding: 20px 30px;
}

.signup h1 {
    text-align: center;
    padding: 20px 0;
}

.signup form input {
    display: flex;
    flex-direction: column;
}

.signup .input input {
    margin: 20px 0;
    padding: 1vw 1vw;
    outline: none;
    width: 300px;
}

.signup .terms {
    display: flex;
    gap: 5px;
    padding-bottom: 5px;
}

.signup .terms p {
    font-size: .8rem;
    font-weight: 300;
}

.signup .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup .btn button {
    width: 100%;
    padding: 10px 0;
    background-color: #dbd9d9;
    cursor: pointer;
    border: 1px solid;
    border-radius: 20px;
    margin-bottom: 10px;
}

.signup .btn button:hover {
    background-color: #000;
    color: #fff;
    transition: al .2s ease;
}

.signup .login {
    text-align: center;
}

.signup .login a {
    color: #747272;
    text-decoration: none;
}

.signup .login a:hover {
    color: #000;
    text-decoration: 2px solid underline;
    transition: all .2s ease;
}

.signup .back {
    text-align: center;
    padding: 10px 0;

}

.signup .back a {
    text-decoration: none;
    color: #000;
}

.signup .back a:hover {
    text-decoration: 2px solid underline;
}